<section class="home-page-container">
    <div class="home-page-holder">
        <div class="content-container" *ngFor="let data of gridData">
            <div class="content-holder">
                <img [src]="data.imgUrl"/>
            </div>
            <div class="content-desc">
                <div class="cost"><h5>{{data.cost}}</h5></div>
                <div class="type"><h4><span class="higlight">{{data.type}} </span> <span>{{data.desc}}</span></h4></div>
                <div class="size"><h4>{{data.size}}</h4></div>
                <div class="rental"><h4>{{data.rental}}</h4></div>
            </div>
        </div>
    </div>
</section>
